header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: auto;
    padding-top: 56px;
    background-image: url('../images/birthday1.jpg');
    background-size: cover;
    background-color: #0000001b;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #0000004f;
    color: #fff;
}

.about p {
    border-bottom: 1px solid #fff;
}
